.profilePictureContainer {
   flex-direction: column;
   display: flex;
   justify-content: flex-end;
   flex: .5 .5 auto;
   align-items: center;
}
.content-inner {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.content .contentText {
  filter: drop-shadow(0px 0px 5px black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto;
}
.content img {
  margin: auto;
  max-width: 100%;
  border-style: none;
}


.tripleDot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle, white 2px, transparent 3px);
  background-size: 100% 33.33%;
  top: 5px;
  right: 0;
  filter: drop-shadow(0px 0px 5px black);
}
.popoutMenu {
  z-index: 1;
  display: block;
  position: absolute;
  width: 250px;
  height: auto;
  background: white;
  top: 35px;
  right: 15px;
  color: black;
  filter: drop-shadow(0px 0px 5px black);
  padding: 5px;
}
.popoutMenu .popoutMenuOptions {
  padding: 10px 0;
  font-size: 1.5em;
  border: .1px lightgray;
  border-style: solid none;
}


.profileHeaderContainer {
  padding: 25px 25px 0px 25px;
  margin-top: 185px;
  padding-top: 25px;
}
.profileHeaderBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: .5;
  z-index: -9999;
}
.profileHeader {
  display: flex;
  width: auto;
}
.itemImage {
  filter: drop-shadow(0px 0px 5px black);
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.profileHeader .profileLoadout {
  padding: 25px;
}
.profileHeader .profileLoadoutPicture {
  width: 50px;
  background: white;
  border: black;
  height: 50px;
  margin: 5px;
  filter: drop-shadow(0px 0px 5px black);
}
.profileHeader .profilePicture {
  border-radius: 10px;
  width: 25em;
  height: 25em;
  filter: drop-shadow(0px 0px 5px black);
  position: absolute;
  border: none;
  padding-bottom: 1px;
}
.profileHeader .profileName {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
}
.profileHeader .profileText {
  font-size: 1em;
  padding: 10px;
  background-color: #18141a;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35vw;
  box-shadow: 0px 0px 5px black;
}
