.content-inner {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.content .contentText {
  filter: drop-shadow(0px 0px 5px black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto;
}
.content img {
  margin: auto;
  max-width: 100%;
  border-style: none;
}


.tripleDot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle, white 2px, transparent 3px);
  background-size: 100% 33.33%;
  top: 5px;
  right: 0;
  filter: drop-shadow(0px 0px 5px black);
}
.popoutMenu {
  z-index: 1;
  display: block;
  position: absolute;
  width: 250px;
  height: auto;
  background: white;
  top: 35px;
  right: 15px;
  color: black;
  filter: drop-shadow(0px 0px 5px black);
  padding: 5px;
}
.popoutMenu .popoutMenuOptions {
  padding: 10px 0;
  font-size: 1.5em;
  border: .1px lightgray;
  border-style: solid none;
}

