* {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  color: hsl(0, 5%, 10%);
}
body {
  text-align: center;
  background-color: hsl(210, 20%, 98%);
  line-height: 1.5;
  max-width: 80ch;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto !important;
  padding: 2rem 1.25rem;
  counter-reset: theorem;
  counter-reset: definition;
  color: hsl(0, 5%, 10%);
  background-color: hsl(210, 20%, 98%);
  text-rendering: optimizeLegibility;
}
a {
  color: #a00 !important;
}
.content {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  transition: 300ms;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.content img {
  max-height: 250px;
  max-width: 250px;
}
