html, body, #root {
  min-height: 100vh; 
  position: relative;
}
#root {
 display: flex;
 flex-direction: column;
}
@media only screen and (min-width: 1200px)
.footer {
  width: 1064px;
}
@media only screen and (min-width: 1200px)
.footer {
  width: 1127px;
  margin-left: auto!important;
  margin-right: auto!important;
}
@media only screen and (max-width: 1199px) and (min-width: 992px)
.footer {
  width: 933px;
  margin-left: auto!important;
  margin-right: auto!important;
}
.footer {
  display: block;
  max-width: 100%!important;
}
@media (max-width: 1200px)
.footer {
  margin-bottom: 12px;
}
@media (max-width: 1200px)
.footer {
  flex-flow: column nowrap;
}
.footer-container {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}
.footer {
  margin-top: auto;
  position: absolute;
  bottom: 0; 
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  margin: 25px auto;
  color: #676370;
}
.footer * {
  color: #676370 !important;
}
.footer .main-footer .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer .main-footer {
  height: 20px;
  width: 25%;
}
.main-footer .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer .secondary-footer {
  display: flex;
}
.footer .social-links {
    margin-right: 24px;
}
.footer .copyright {
  color: #676370;
}
.footer .social-links .social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #676370;
  padding-left: 12px;
}
