.hero-container {
  position: relative;
}
.hero,
.hero-secondary {
  height: 100vh;
  min-height: 790px;
  width: 100%;
  color: #fff;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(103,99,112,0.2);
  padding: 64px;
  margin-bottom: 44px;
}
.hero-secondary {
  min-height: 300px;
}
.hero-container .hero-copy h1.primary {
  font-size: 64px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-shadow: 0 0 0.1em rgba(0,0,0,.5);
}
.hero-container .hero-copy p.primary {
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: .3px;
}
.hero-container .hero-copy .head-title {
  color: #c4005d;
}
.hero-container .hero-copy h1.secondary {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: .3px;
}
.hero-container .hero-copy p.secondary {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.81;
  letter-spacing: .3px;
}
.hero-container .hero-copy .button {
  background-color: #c4005d;
  border-radius: 6px;
  text-decoration: none;
  width: calc(50% - 1em);
  max-width: 250px;
  padding: .85em 4em;
  font-size: 15px;
  margin: 1em 1em 1em 0;
  white-space: nowrap;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.hero-container .hero-copy .button:hover {
  transform: translateY(-2.5px);
  background-color: #d4055a;
}
.hero-bg {
  position: absolute;
  bottom: 0;
  width: 120vw;
  height: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .2;
  z-index: -9999;
}
.hero-secondary img {
  height: 270px; 
  width: 480px;
  padding-top: 25px;
}
