.profileBodyAssets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10%;
}
.profileBodyNav {
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.profileBodyNavContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.profileNavLink {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #C4C4C4;
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0;
    opacity: 40%;
}
.profileNavLink.active {
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #c4005d;
    font-size: 2em;
    opacity: 100%;
}
.disable {
    pointer-events: none;
    cursor: default;
}
