.main {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.mainAssets {
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding-left: 341px;
}
.mainRow {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}
.mainRow {
  scrollbar-face-color: #18141a;
  scrollbar-base-color: #18141a;
  scrollbar-3dlight-color: #18141a;
  scrollbar-highlight-color: #18141a;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #18141a;
  scrollbar-dark-shadow-color: #18141a;
}
.mainRow::-webkit-scrollbar { width: auto; height: 10px;}
.mainRow::-webkit-scrollbar-track {  background-color: #18141a;}
.mainRow::-webkit-scrollbar-track-piece { background-color: #000; border-radius: 5px;}
.mainRow::-webkit-scrollbar-thumb {  background-color: lightgray; border-radius: 5px;}
.mainRow::-webkit-scrollbar-corner { background-color: #18141a;}
.mainRow::-webkit-resizer { background-color: #c4005d;}

.small {

}
.medium {
  flex-wrap: wrap;
  width:100%;
  display:flex;
}
.large {

}
