.assetDetailsContainer {
    position: fixed;
    margin: 0;
    background-color: #181818;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 101%;
}

.assetDetails {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.assetDetailsLeftColumn,
.assetDetailsBackground
{
  max-height: 90vh;
}
.assetDetailsLeftColumn {
  position: relative;
  display: flex;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
}
.assetDetailsBackground {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0) 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assetDetailsRightColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(0deg, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0) 100%); */
    margin-top: 15px;
}

.content-preview-2d,
.content-preview-3d,
.content-preview-live {
  width: 100vw;
  height: 80vh;
  margin: 70px;
  /* background-color: #FFF; */
  object-fit: contain;
}
.preview .content-preview-3d {
  width: 100%;
  height: 100%;
  margin: 0;
}
.content-preview-3d .iframe,
.content-preview-live {
  border: 0;
  /* box-shadow: 0 5px #CCCCCC80; */
}
.content-preview-3d .iframe {
  width: 100%;
  height: 100%;
}
.asset-page .content-preview-3d .iframe {
  padding: 0 8vw;
}
.detailsBlock {
  display: flex;
  align-items: flex-start;
}
.detailsSection {
  display: flex;
}
.detailsSection.left,
.detailsSection.right
{
  flex-direction: column;
}
.detailsSection.middle {
  align-items: center;
}
.detailsSection.left {
}
.detailsSection.right {
  width: 310px;
}
.detailsSection .owners {  
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
}
.detailsSection .owners .owner {
  padding: 0;
}

.detailsSection .details-section-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.detailsSection:not(:hover) .edit-icon {
  visibility: hidden;
}
.detailsSection.middle .edit-icon {
  margin-top: 40px;
  margin-bottom: auto;
}
.detailsSection .description,
.detailsSection .placeholder {
  display: flex;
  margin: 42px 50px;
  margin-left: 50px;
  margin-right: 20px;
  /* justify-content: flex-start;
  align-items: flex-start; */
}
.detailsSection .description {
  min-height: 600px;
  font-size: 20px;
}
.detailsSection .description:empty,
.detailsSection .description:not(:empty) + .placeholder {
  display: none;
}

.assetDetailsButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-size: .8em;
    font-weight: 400;
    padding: 0.5em;
    text-align: left;
    padding-left: .75em;
    background-color: #e0e0e0;
    margin-bottom: 2px;
}
.assetDetailsButton .assetDetailsButtonBottomBorder {
    border-bottom: 1px solid rgb(50,50,50,1);
}
.assetSubmitButton {
    width: 11em;
    height: 2.5em;
    background-color: #c4005d;
    padding: 0px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
}

.assetSubmitButtonSmall {
    width: 7em;
}

.disable {
    opacity: 0.6;
}

.detailsBlockSet {

}

.detailsBlockEdit {
    margin-top: 1em;
}

.detailsBlockCancelCell {
    margin-top: 1em;
}

.detailsBlockSell {
    margin-top: 1em;
}

.sellInputDropdown {
    display: flex;
    flex-direction: column;
    width: 13.5em;
    align-items: center;
}

.sellInputLine {
    display: flex;
    align-items: center;
    height: 2em;
    width: 100%;
    justify-content: space-between;
    padding-left: 0.5em; 
}

.sellInputLine input {
    width: 3.5em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    margin-left: 1em;
    margin-right: 0.5em;
}

.sellInputLine span {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
}

.sellConfirmLine {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
}

.detailsBlockOnSale {
    margin-top: 1em;
}

.onSaleWarning {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}

.detailsBlockTransferTo {
    margin-top: 1em;
}

.transferToDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transferToDropdown span {
    color: white;
    margin-bottom: 1em;
    align-self: flex-start;
    padding-left: 0.5em;
}

.transferToDropdown div {
    margin-bottom: 2em;
    align-self: flex-start;
}

.Accordion {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.accordionTitle {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 1em;
    cursor: pointer;
    /* padding-bottom: .5em; */
    background-color: #e0e0e0;
    border-radius: 8px 8px 0 0;
    margin-bottom: 2px;
    align-items: center;
}

.accordionTitleValue {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
}

.accordionIcon {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.reverse {
    transform: rotate(180deg);
}

.accordionDropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.accordionDropdownConfirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.dropdownConfirmTitle {
    align-self: center;
    text-transform: uppercase;
    width: 12em;
    color: white;
    margin-bottom: 0.5em;
}

.dropdownConfirmSubmit {
    display: flex;
    justify-content: space-between;
    width: 12em;
}

.accordionDropdownWithConfirm {
    flex-direction: column;
    align-items: center;
}

.assetDetailsCloseButton {
    position: absolute;
    top: 3em;
    right: -0.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='white'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center;
    width: 2em;
    height: 2em;
    background-color: black;
    filter: drop-shadow(2px 5px 4px black);
}
.assetDetailsOwnedBy {
    position: absolute;
    right: 0;
    margin-top: -60px;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.assetDetailsOwnedBy .creatorIcon {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  background-color: #FFF;
  border: 2px solid #FFF;
  border-radius: 100px;
}
.assetDetailsOwnedBy .creatorDetails {
  display: flex;
  min-width: 250px;
  margin-left: -26px;
  padding: 10px;
  padding-left: 30px;
  background-color: #FFF;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'FuturaStd-Heavy';
  z-index: -1;
}
.assetDetailsOwnedBy .creatorDetails .label {
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.assetDetailsOwnedBy .creatorDetails .name {
  font-size: 18px;
}
.assetDetailsOwnedBy .creatorDetails .name:hover {
  color: #29b6f6;
}
.assetDetailsDeployedContent {
  padding-bottom: 5px;
  font-size: .7em;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.assetDetailsLeft {
  position: absolute;
  display: flex;
  min-width: 300px;
  min-height: 70px;
  margin-top: -60px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px 20px;
  align-items: center;
}
.assetDetailsLeft .name,
.assetDetailsLeft .name-placeholder,
.assetDetailsLeft .description,
.assetDetailsLeft .ipfs
{
  display: flex;
  justify-content: flex-start;
}
.assetDetailsLeft .name,
.assetDetailsLeft .name-placeholder
{
  margin-right: auto;
  font-family: 'FuturaStd-Heavy';
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
}
.assetDetailsLeft .name-placeholder {
  color: #CCC;
}
.assetDetailsLeft:not(:hover) .edit-icon {
  visibility: hidden;
}
.assetDetailsLeft .description {
  font-family: 'GillSans';
}
.assetDetailsLeft .ipfs {
  margin: 10px 0;
  font-family: 'FuturaStd-Heavy';
}

.stats,
.provenance {
  padding: 0 20px;
}
.stat-label {
  display: flex;
  font-family: 'FuturaStd-Heavy';
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
}
.stats {
  display: flex;
  min-width: 300px;
  margin-top: 30px;
  flex-direction: column;
  /* align-items: flex-start; */
}
.stats .stat {
  display: flex;
}
.edition-number {
  margin-bottom: 20px;
  font-family: 'FuturaStd-Heavy';
  font-size: 36px;
  line-height: 1.6;
}
.file-type {
}
.file-size {
}
.resolution {
}
.collaborators {
}
.unlockable {
}
.provenance {
  display: flex;
  flex-direction: column;
}
.provenance .provenance-node {
  display: flex;
  padding: 10px;
  align-items: center;
  /* font-family: 'GillSans-CondensedBold'; */
}
.provenance .provenance-node:hover {
  text-decoration: underline;
}
.provenance .provenance-node img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.details {
  display: flex;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  flex-direction: column;
}
.details .detail {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}
.details .detail .label {
  margin-right: auto;
  /* font-family: 'MS-Gothic'; */

  display: flex;
  font-family: 'FuturaStd-Heavy';
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
}
.details .detail .value {
  font-family: 'GillSans-CondensedBold';
}

@media (max-width: 749px) {

    .assetDetailsRightColumn {
        font-size: 0.9em;
    }

    .sellInputLine {
        height: 2em;
    }

    .sellInputLine input {
        width: 2.5em;
        height: 1.3em;
        border-radius: 3px;
    }

    .sellInputLine span {

    }

    .sellInputLine>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width: 584px) {

    .assetDetailsRightColumn {
        font-size: 1em;
    }

    .sellInputLine {
        height: 1.7em;
    }
    
    .sellInputLine input {
        width: 2em;
        height: 1.3em;
        border-radius: 2px;
    }
    
    .sellInputLine span {

    }

    .sellInputLine>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.fileBrowser {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.fileBrowser .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0004;
}
.fileBrowser .wrap {
  position: relative;
  display: flex;
  width: 800px;
  height: 400px;
  background-color: #222;
  border-radius: 10px;
  flex-direction: column;
}
.fileBrowser .wrap header,
.fileBrowser .wrap footer
{
  padding: 10px;
}
.fileBrowser .wrap header {
  display: flex;
  background-color: #66bb6a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.fileBrowser .wrap header.disabled {
  background-color: #ef5350;
}
.fileBrowser .wrap footer {
  display: flex;
  margin-top: auto;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.fileBrowser .wrap .tabs {
  display: flex;
}
.fileBrowser .wrap .tabs .tab {
  padding: 5px;
  background-color: #333;
  border-bottom: 3px solid transparent;
  flex: 1;
}
.fileBrowser .wrap .tabs .tab + .tab {
  margin-left: 3px;
}
.fileBrowser .wrap .tabs .tab.selected {
  border-bottom-color: #ab47bc;
}
.fileBrowser .wrap .file-drop {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.fileBrowser .wrap .file-drop .file-drop-target {
  flex: 1;
}
.fileBrowser .wrap .file,
.fileBrowser .wrap .file-contents,
.fileBrowser .wrap .history
{
  position: relative;
  flex: 1;
  overflow: auto;
}
.fileBrowser .wrap .file .file-drop,
.fileBrowser .wrap .file .file-drop-target,
.fileBrowser .wrap .file .file-drop-background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fileBrowser .wrap .file ul {
  position: relative;
}
.fileBrowser .wrap ul li {
  display: flex;
  padding: 5px;
  list-style-type: none;
}
.fileBrowser .wrap ul li.selected {
  background-color: #333;
  border-radius: 3px;
}
.fileBrowser .wrap ul li a,
.fileBrowser .wrap ul li input[type="text"] {
  display: flex;
  margin: 0;
  margin-right: auto;
  height: 20px;
  flex: 1;
}
.fileBrowser .wrap ul li input[type="text"] {
  font: inherit;
}