html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh; 
  position: relative;
  margin: 0;
}
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #fff;
  background-color: #18141a;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
}
.button {
  background-color: #c4005d;
  border-radius: 6px;
  text-decoration: none;
  width: calc(50% - 1em);
  max-width: 250px;
  padding: .85em 4em;
  font-size: 15px;
  margin: 1em;
  white-space: nowrap;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.button:hover {
  transform: translateY(-2.5px);
  background-color: #d4055a;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 11%;
  justify-content: center;
}
.logo,
.accountPicture {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}
.accountPicture {
  border: 2px solid #312936 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  box-shadow: 0px 0px 5px #c4005d;
}
