@font-face {
  font-family: 'FuturaLT';
  src: url('/fonts/FuturaLT.woff2');
}
@font-face {
  font-family: 'MS-Gothic';
  src: url('/fonts/MS Gothic.ttf');
}
@font-face {
  font-family: 'FuturaStd-BoldOblique';
  src: url('/fonts/Futura Std Bold Oblique.otf');
}
@font-face {
  font-family: 'GillSans';
  src: url('/fonts/Gill Sans.otf');
}
@font-face {
  font-family: 'GillSans-CondensedBold';
  src: url('/fonts/Gill Sans Condensed Bold.ttf');
}
@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('/fonts/Futura Std Heavy.otf');
}
@font-face {
  font-family: 'FuturaLT-CondensedLight';
  src: url('/fonts/FuturaLT-CondensedLight.ttf');
}
@font-face {
  font-family: 'SanvitoPro-LtCapt';
  src: url('/fonts/SanvitoPro-LtCapt.otf');
}
@font-face {
  font-family: 'FuturaLT-Book';
  src: url('/fonts/FuturaLT-Book.ttf');
}
@font-face {
  font-family: 'GeosansLight';
  src: url('/fonts/GeosansLight.ttf');
}
@font-face {
  font-family: 'GeosansLight-Oblique';
  src: url('/fonts/GeosansLight-Oblique.ttf');
}
@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/fonts/PressStart2P-Regular.ttf');
}

html,
body,
body > div:first-child,
div#__next
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh; 
  position: relative;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}
#nprogress .bar {
  background: #c4005d;
}
#nprogress .spinner-icon {
  border-top-color: #c4005d;
  border-left-color: #c4005d;
  width: 5px; 
  height: 5px; 
}
a {
  color: #000;
  text-decoration: none;
}
.absolute-top-left {
  position: fixed;
  top: 0;
  left: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.button {
  background-color: #c4005d;
  border-radius: 6px;
  text-decoration: none;
  max-width: 250px;
  padding: .85em 2em;
  font-size: 15px;
  margin: 1em;
  white-space: nowrap;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.button:hover {
  transform: translateY(-2.5px);
  background-color: #d4055a;
}
.container {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 0 8%;
  padding-left: calc(8% + 70px);
  padding-top: 130px;
  padding-bottom: 74px;
  margin-bottom: -74px;
  --mint-menu-size: 300px;
}
.container.background {
  overflow: hidden;
}
/* .container .wrap {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
} */
/* .container .wrap.open {
  transform: translateY(var(--mint-menu-size));
} */
.accounts-page {
  /* display: flex; */
  position: relative;
  min-height: calc(100vh - 90px - 74px);
  margin-top: 90px;
  padding: 0 8vw;
}
.accounts-page .accounts {
  display: flex;
  flex-wrap: wrap;
}
.accounts-page .accounts .account {
  display: flex;
  flex-direction: column;
}
.accounts-page .accounts .account .profileVideo,
.accounts-page .accounts .account .profileVideoPlaceholder {
  --size: 200px;
  width: var(--size);
  height: var(--size);
}
.accounts-page .accounts .account .profileVideoPlaceholder {
  background-color: #e0e0e0;
  border-radius: 10px;
}
.containerText {
  color: #676370;
}
.streetchain, .mint-button, .blocker, .mint-menu-bar {
  margin-left: 19px;
}

.logo,
.accountPicture {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}
.accountPicture {
  /* border: 2px solid #312936 !important; */
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  /* box-shadow: 0px 0px 5px #c4005d; */
}
.appContainer {
  /* flex: 1 1;
  flex-direction: column;
  padding-top: 93px;
  display: flex;
  padding-top: 72px; */
}
.hidden {
  display: none;
}

.streetchain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8vw;
}
.streetchain .header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  width: 100px;
  left: calc(-50px + 2px);
  padding: 5px;
  font-family: 'GillSans-CondensedBold';
  text-transform: uppercase;
  background-color: #EEE;
  border-radius: 5px;
  z-index: 1;
  font-size: 13px;
}
.mint-button {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  left: calc(8vw - 20px);
  top: 70px;
  background-color: #EEE;
  border: 2px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  z-index: 4;
  user-select: none;
}
@keyframes pulse {
  from {
    filter: invert(71%) sepia(12%) saturate(1550%) hue-rotate(73deg) brightness(91%) contrast(85%);
    transform: scale(1.2, 1.2);
  }
  to {
    filter: none;
    transform: none);
  }
}
.mint-button img {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  
}
.mint-button:hover,
.container.open .mint-button {
  background-color: #333;
  border-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.mint-button:hover img,
.container.open .mint-button img {
  filter: none;
  animation-name: none;
}
.mint-button.below {
  z-index: 3;
}
.mint-button img {
  width: 24px;
  height: 24px;
}
.mint-button:hover img,
.container.open .mint-button img
{
  filter: invert(100%);
}
.blocker {
  position: fixed;
  left: calc(8vw - 2px);
  top: 92px;
  background-color: #FFF;
  width: calc(100vw - 8vw);
  height: 8px;
  z-index: 2;
}
.streetchain .bar {
  position: absolute;
  top: 10px;
  bottom: 0;
  background-color: #333;
  width: 2px;
}

.container:not(.open) .slider,
.container.open > .wrap,
.container.open .streetchain,
.mint-placeholder.open
{
  /* transform: translateY(calc(var(--mint-menu-size) * -1)); */
  opacity: 0;
  pointer-events: none;
}
.container.open > .wrap {
  max-height: calc(100vh - 130px);
  overflow: hidden;
}
.container .slider,
.container .streetchain,
.mint-placeholder,
.container .wrap
{
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1), opacity 1s cubic-bezier(0, 1, 0, 1);
}
.container .slider {
  transform: translateY(100px);
}
.container.open .slider {
  transform: translateY(0);
}
.container > .wrap {
  transform: translateY(0);
}
.container.open > .wrap {
  transform: translateY(-100px);
}
.container.large {
  --mint-menu-size: 400px;
}
.mint-menu-bar {
  width: calc(100vw - 16vw);
  height: 2px;
  border: 0 solid #e0e0e0;
  border-top-width: 2px;
  z-index: 2;
}
.mint-menu,
.mint-menu-bar {
  position: fixed;
  width: calc(100vw - 16vw);
  top: 90px;
  left: 8vw;
}
.slider {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.street-filters {
  position: fixed;
  width: calc(100vw - 16vw);
  top: 90px;
  left: 8vw;
}
.slider img,
.mint-button img,
{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.slider .left-bar {
  position: absolute;
  height: 100%;
  width: 12px;
  margin-left: -12px;
  background-color: #333;
  border-left: 10px solid #FFF;
}
.slider .notch {
  position: absolute;
  border-right: 10x solid #e0e0e0;
  border-bottom: 10x solid transparent;
}
.slider .contents {
  display: flex;
  width: 100vw;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
  padding: 0 8vw;
  padding-top: 20px;
  flex: 1;
  flex-direction: column;
}
.slider .contents .wrap-slider {
  display: flex;
  align-items: flex-start;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.slider .contents .wrap-slider .card-buttons {
  top: -10px;
  right: 240px;
}
.slider .contents .wrap-slider:not(.step-1) .step-1-only,
.slider .contents .wrap-slider:not(.step-2) .step-2-only
{
  /* display: none !important; */
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.slider .contents .wrap-slider:not(.step-1) .step-1-only {
  transform: translateX(-100px);
}
.slider .contents .wrap-slider:not(.step-2) .step-2-only {
  transform: translateX(100px);
}
.slider .contents .wrap-slider .step-1-only,
.slider .contents .wrap-slider .step-2-only {
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1), opacity 1s cubic-bezier(0, 1, 0, 1);
}
.slider .contents .wrap-slider .back-button {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}
.slider .contents .wrap-slider .back-button:hover {
  color: #29b6f6;
}
.slider .contents .wrap-slider .back-button img {
  width: 20px;
  height: 20px;
}
.slider .contents .wrap-slider .back-button:hover img {
  filter: invert(53%) sepia(33%) saturate(1089%) hue-rotate(156deg) brightness(110%) contrast(93%);
}
.slider .contents .wrap-slider .lhs {
  display: flex;
  flex: 1;
  justify-content: center;
}
.slider .contents .wrap-slider.step-2 .lhs {
  width: 300px;
}
.slider .contents .wrap-slider .lhs .stage {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
}
.slider .contents .wrap-slider .lhs .form {
  display: flex;
  width: 300px;
  padding: 0 20px;
  flex-direction: column;
}
.slider .contents .wrap-slider .lhs .form .label {
  margin: 0;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'FuturaStd-Heavy';
  letter-spacing: 1px;
  color: #bbb;
}
.slider .contents .wrap-slider .lhs .form textarea {
  height: 100px;
}
.slider .contents .wrap-slider .lhs .form input[type=text],
.slider .contents .wrap-slider .lhs .form input[type=number],
.slider .contents .wrap-slider .lhs .form textarea {
  border: 0;
  border: 2px solid #bbb;
  align-items: center;
}

.slider .contents .wrap-slider .lhs .form input[type=text],
.slider .contents .wrap-slider .lhs .form input[type=number],
.slider .contents .wrap-slider .lhs .form textarea,
.slider .contents .wrap-slider .lhs .form input[type=file] {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'FuturaStd-Heavy';
}

.slider .contents .wrap-slider .lhs .form input[type=text]::placeholder,
.slider .contents .wrap-slider .lhs .form input[type=number]::placeholder,
.slider .contents .wrap-slider .lhs .form textarea::placeholder {
  color: #CCC;
}
.slider .contents .wrap-slider .lhs .form input[type=text]:focus,
.slider .contents .wrap-slider .lhs .form input[type=number]:focus,
.slider .contents .wrap-slider .lhs .form textarea:focus,
.slider .contents .wrap-slider .lhs .form input[type=file]:focus {
  border-color: #29b6f6;
  outline: none;
}
/* .slider .contents .wrap-slider .lhs .stage {
  position: relative;
} */
.slider .contents .wrap-slider .lhs .stage .card-placeholder-outer {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.slider .contents .wrap-slider .lhs .stage .card-placeholder-wrap {

}
.slider .contents .wrap-slider .lhs .stage .card-placeholder-wrap .card-placeholder {
  --size: 300px;
  width: var(--size);
  height: calc(var(--size) / 2.5 * 3.5);

}
.slider .contents .wrap-slider .lhs .stage .card-wrap .card-svg {
  transition: none;
}
.slider .contents .wrap-slider .middle {

}
.slider .contents .wrap-slider .helper {
  position: absolute;
  width: 330px;
  margin-left: -400px;
  padding: 30px;
  background-color: #e0e0e0;
  background-image: linear-gradient(to right, #eeeeee, #FFF);
  border-radius: 5px;
  font-family: 'MS-Gothic';
  line-height: 1.6;
  text-align: left;
}
.slider .contents .wrap-slider .helper:not(.open) {
  display: none;
}
.slider .contents .wrap-slider .helper .h1 {
  margin-bottom: 10px;
  font-family: 'FuturaStd-Heavy';
  font-size: 30px;
  line-height: 1.6;
  text-align: left;
}
.slider .contents .wrap-slider .helper p {
  margin: 5px 0;
}
.slider .contents .wrap-slider .helper .sub span {
  padding: 5px;
  margin-right: 5px;
  background-color: #e0e0e0;
  border-radius: 3px;
}
.slider .contents .wrap-slider .rhs {
  width: 200px;
}
.slider .contents .wrap {
  display: flex;
  width: calc(100vw - 16vw - 20px);
  height: 100%;
  padding: 20px 30px;
  margin-right: 20px;
  border-radius: 10px;
  transform: translateY(0);
}
.slider .contents .label {
  display: flex;
  margin-bottom: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'FuturaStd-Heavy';
  letter-spacing: 1px;
  color: #AAA;
  align-items: center;
}
.slider .contents .label .back-button {
  display: flex;
  margin-left: -10px;
  cursor: pointer;
}
.slider .contents .label .back-button img {
  height: 20px;
  padding: 0 7px;
}
.slider .contents .label .text {
  text-transform: capitalize;
}
.slider .contents .tabs {
  display: flex;
  margin-bottom: 10px;
}
.slider .contents .tabs .tab {
  display: flex;
  background-color: #e0e0e0;
  color: #999;
  padding: 7px 15px;
  font-family: 'FuturaLT';
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  letter-spacing: 1px;
  align-items: center;
}
.slider .contents .tabs .tab:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.slider .contents .tabs .tab:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.slider .contents .tabs .tab:hover,
.slider .contents .tabs .tab.selected
{
  background-color: #CCC;
  color: #333;
}
.slider .contents .tabs .tab + .tab {
  margin-left: 3px;
}
.slider .contents .description {
  display: flex;
  flex-direction: column;
}
.slider .contents .description .text {
  max-width: 250px;
  padding-right: 10px;
  text-align: left;
  font-family: 'GillSans';
  font-size: 16px;
}
.slider .contents .description .card-hype {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  /* background-color: #e0e0e0; */
}
.slider .contents .upload-section {
  display: flex;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e0e0e0;
  flex: 1;
}
.slider .contents .upload-section .text {
  font-family: 'GillSans';
}
.slider .contents .upload-section img {
  width: 100px;
  height: 100px;
  margin: 5px 0;
}
.slider .contents .wrap .subwraps {
  display: flex;
}
.slider .contents .wrap .subwraps .subwrap {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
/* .slider .contents .tabs .tab .dropdown {
  display: flex;
  margin-left: 7px;
  margin-right: -7px;
  justify-content: center;
  align-items: center;
}
.slider .contents .tabs .tab .dropdown img {
  width: 13px;
  height: 13px;
  opacity: 0.3;
} */

.slider .contents .subtabs {
  display: flex;
  flex-direction: column;
}
.slider .contents .subtabs .tab-wrap {
  display: flex;
  padding: 5px 0;
  flex: 1;
  cursor: pointer;
}
.slider .contents .subtabs .tab {
  display: flex;
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  background-color: #DDD;
  font-family: 'GillSans-CondensedBold';
  font-size: 13px;
  opacity: 0.3;
  text-transform: uppercase;
  align-items: center;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.slider .contents .subtabs .tab img,
.slider .contents .subtabs .tab span {
  pointer-events: none;
  user-select: none;
}
.slider .contents .subtabs .tab img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.slider .contents .subtabs .tab span {
  display: flex;
  justify-content: center;
}
.slider .contents .subtabs .tab.selected {
  background-color: #111;
  color: #FFF;
}
.slider .contents .subtabs .tab-wrap:hover .tab,
.slider .contents .subtabs .tab.selected
{
  opacity: 1;
}
.slider .contents .subtabs .tab-wrap:hover .tab:not(.selected) {
  background-color: #e0e0e0;
}
.slider .contents .subtabs .tab-wrap:hover .tab {
  transform: translateY(-5px);
  transition: transform 0.1s ease-out;
}
.slider .contents .subtabs .tab.selected img {
  filter: invert(100%);
}

.mainRow {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* background-color: #f4f4f4; */
  padding-top: 70px;
}
.mainRow .bar {
  position: absolute;
  margin-left: -30px;
  width: 200px;
  height: 5px;
  background-color: #EEE;
}
.mainRow .notch {
  display: flex;
  position: absolute;
  width: 100px;
  margin-top: -37px;
  left: -47px;
}
.mainRow .notch .text {
  position: relative;
  margin-top: -15px;
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'FuturaStd-Heavy';
  letter-spacing: 2px;
  color: #AAA;
}
.mainRow .notch .nub {
  position: absolute;
  width: 13px;
  height: 13px;
  margin-left: calc(-13px / 2 - 2px / 2);
  background-color: #29b6f6;
  border: 3px solid #FFF;
  border-radius: 100px;
}
.mainRow .notch .underline {
  position: absolute;
  width: calc(100vw - 16vw - 5px);
  height: 2px;
  top: 5px;
  left: 5px;
  background-color: #e0e0e0;
}

/* <div className="notch">
  <div className="nub"></div>
  <div className="bar"></div>
</div> */

.asset-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow-y: scroll;
}
.asset-overlay-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}
.asset-overlay-foreground {
  position: absolute;
  top: 120px;
  left: 8vw;
  right: 8vw;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.asset-overlay-foreground .card-outer {
  cursor: auto;
}
.asset-overlay-foreground .asset-page,
.asset-overlay-foreground .card-outer {
  margin: 40px 0;
}

.asset-page {
  padding-top: 90px;
}
.asset-page .assetDetailsRightColumn {
  width: calc(100vw - 16vw);
  margin: 0 auto;
}
.asset-page .card-buttons {
  right: 8vw !important;
}
.asset-page .card-buttons .card-button.expand {
  display: none;
}

.card-buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  user-select: none;
}
.card-buttons .card-button {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: #e0e0e0;
  border-radius: 100px;
  cursor: pointer;
}
.card-buttons .card-button:hover,
.card-buttons .card-button.open {
  background-color: #333;
}
.card-buttons .card-button.open img,
.card-buttons .card-button:hover img {
  filter: invert(100%);
}
.card-buttons .card-button + .card-button {
  margin-left: 10px;
}
.card-buttons .card-button img {
  
}
.card-buttons .card-button.selected .only-not-selected,
.card-buttons .card-button:not(.selected) .only-selected
{
  display: none;
}

.placeholder {
  display: flex;
  margin-right: auto;
  padding: 5px;
  padding-right: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  align-items: center;
}
.placeholder img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.profile-page .placeholder {
  margin: 30px auto;
}