html,
body,
body > div:first-child,
div#__next
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh; 
  position: relative;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}
#nprogress .bar {
  background: #c4005d;
}
#nprogress .spinner-icon {
  border-top-color: #c4005d;
  border-left-color: #c4005d;
  width: 5px; 
  height: 5px; 
}
a {
  color: #000;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.button {
  background-color: #c4005d;
  border-radius: 6px;
  text-decoration: none;
  max-width: 250px;
  padding: .85em 2em;
  font-size: 15px;
  margin: 1em;
  white-space: nowrap;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.button:hover {
  transform: translateY(-2.5px);
  background-color: #d4055a;
}
.container {
  position: relative;
  display: flex;
  padding: 0 8%;
  padding-left: calc(8% + 100px);
  padding-top: 80px;
  padding-bottom: 74px;
  min-height: calc(100vh - 76px);
  margin-bottom: -74px;
  --mint-menu-size: 300px;
}
.container .wrap {
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.container .wrap.open {
  transform: translateY(var(--mint-menu-size));
}
.containerText {
  color: #676370;
}
.logo,
.accountPicture {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}
.accountPicture {
  border: 2px solid #312936 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  box-shadow: 0px 0px 5px #c4005d;
}
.appContainer {
  flex: 1 1;
  flex-direction: column;
  padding-top: 93px;
  display: flex;
  padding-top: 72px;
}
.hidden {
  display: none;
}

.streetchain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8vw;
}
.streetchain .header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  width: 100px;
  left: calc(-50px + 2px);
  padding: 5px;
  font-family: 'GillSans-CondensedBold';
  text-transform: uppercase;
  background-color: #EEE;
  border-radius: 5px;
  z-index: 1;
  font-size: 13px;
}
.mint-button {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  left: calc(8vw - 20px - 1px);
  top: 70px;
  background-color: #EEE;
  border: 2px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  z-index: 3;
  user-select: none;
}
.mint-button:hover {
  background-color: #9ccc65;
  border-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.mint-button img {
  width: 13px;
  height: 13px;
}
.mint-button:hover img {
  filter: invert(100%);
}
.blocker {
  position: fixed;
  left: calc(8vw - 2px);
  top: 64px;
  background-color: #FFF;
  width: calc(100vw - 8vw);
  height: 26px;
  z-index: 2;
}
.streetchain .bar {
  position: absolute;
  top: 10px;
  bottom: 0;
  background-color: #333;
  width: 2px;
}

.container:not(.open) .slider,
.mint-placeholder:not(.open)
{
  transform: translateY(calc(var(--mint-menu-size) * -1));
}
.container.open .slider .contents
{
  margin-top: 0;
}
.mint-menu-bar {
  width: calc(100vw - 16vw);
  height: 2px;
  border: 0 solid #e0e0e0;
  border-top-width: 2px;
  z-index: 2;
}
.mint-menu,
.mint-menu-bar,
.slider,
.street-filters
{
  position: fixed;
  width: calc(100vw - 16vw);
  top: 90px;
  left: calc(8vw);
}
.slider {
  display: flex;
  left: calc(8vw + 2px);
  margin-top: 2px;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
  z-index: 1;
}
.slider .left-bar {
  position: absolute;
  height: 100%;
  width: 12px;
  margin-left: -12px;
  background-color: #333;
  border-left: 10px solid #FFF;
}
.slider .notch {
  position: absolute;
  border-right: 10x solid #e0e0e0;
  border-bottom: 10x solid transparent;
}
.slider .contents {
  display: flex;
  height: var(--mint-menu-size);
  padding: 10px;
  background-color: #FFF;
  border-left-width: 0;
  border-bottom: 2px solid #e0e0e0;
  flex: 1;
  /* align-items: center; */
  flex-direction: column;
}
.slider .contents .wrap {
  height: 100%;
  padding: 20px 40px;
  background-color: #eee;
  border-radius: 10px;
}
.slider .contents .text {
  flex: 1;
}
.slider .contents .label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'GillSans-CondensedBold';
  text-transform: uppercase;
  color: #999;
}
.slider .contents .tabs {
  display: flex;
  margin-bottom: 10px;
}
.slider .contents .tabs .tab {
  display: flex;
  background-color: #e0e0e0;
  color: #999;
  padding: 7px 15px;
  font-family: 'FuturaLT';
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  letter-spacing: 1px;
  align-items: center;
}
.slider .contents .tabs .tab:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.slider .contents .tabs .tab:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.slider .contents .tabs .tab:hover,
.slider .contents .tabs .tab.selected
{
  background-color: #CCC;
  color: #333;
}
.slider .contents .tabs .tab + .tab {
  margin-left: 3px;
}
.slider .contents .tabs .tab .dropdown {
  display: flex;
  margin-left: 7px;
  margin-right: -7px;
  justify-content: center;
  align-items: center;
}
.slider .contents .tabs .tab .dropdown img {
  width: 13px;
  height: 13px;
  opacity: 0.3;
}

.slider .contents .subtabs {
  display: flex;
}
.slider .contents .subtabs .tab {
  display: flex;
  width: 90px;
  height: 90px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #DDD;
  font-size: 13px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider .contents .subtabs .tab img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.street-filters {
  display: flex;
  top: 0;
  left: auto;
  right: calc(8vw + 220px);
  width: 300px;
  height: 92px;
  border: 2px solid #e0e0e0;
  border-top: 0;
  border-bottom: 0;
  flex-direction: column;
  z-index: 3;
}
.street-filters .row {
  display: flex;
  align-items: center;
  flex: 1;
}
.street-filters .row .search-image {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.street-filters .row input[type="text"] {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding-left: 30px; */
  border: 0;
  font-family: 'GillSans';
  font-size: 16px;
  outline: none;
}
.street-filters .row + .row {
  border-top: 2px solid #e0e0e0;
}

.filter-options {
  display: flex;
  width: 100%;
  height: 100%;
}
.filter-options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.filter-options .option .option-image {
  width: 20px;
  height: 20px;
  opacity: 0.2;
}
.filter-options .option:hover .option-image,
.filter-options .option.selected .option-image {
  opacity: 1;
}

.mainRow {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* background-color: #f4f4f4; */
  padding-top: 70px;
  perspective: 1200px;
}
.mainRow .bar {
  position: absolute;
  margin-left: -30px;
  width: 200px;
  height: 5px;
  background-color: #EEE;
}

.mainRow .notch {
  display: flex;
  position: absolute;
  width: 100px;
  margin-top: -37px;
  left: calc(-100px + 2px);
}
.mainRow .notch .text {
  position: relative;
  margin-top: -15px;
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'FuturaStd-Heavy';
  letter-spacing: 2px;
  color: #AAA;
}
.mainRow .notch .nub {
  position: absolute;
  width: 13px;
  height: 13px;
  margin-left: calc(-13px / 2 - 2px / 2);
  background-color: #29b6f6;
  border: 3px solid #FFF;
  border-radius: 100px;
}
.mainRow .notch .underline {
  position: absolute;
  width: calc(100vw - 16vw - 21px);
  height: 2px;
  top: 5px;
  left: 5px;
  background-color: #e0e0e0;
}

/* <div className="notch">
  <div className="nub"></div>
  <div className="bar"></div>
</div> */