html,
body,
body > div:first-child,
div#__next
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh; 
  position: relative;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  text-align: center;
}
#nprogress .bar {
  background: #c4005d;
}
#nprogress .spinner-icon {
  border-top-color: #c4005d;
  border-left-color: #c4005d;
  width: 5px; 
  height: 5px; 
}
a {
  color: #000;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.button {
  background-color: #c4005d;
  border-radius: 6px;
  text-decoration: none;
  max-width: 250px;
  padding: .85em 2em;
  font-size: 15px;
  margin: 1em;
  white-space: nowrap;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.button:hover {
  transform: translateY(-2.5px);
  background-color: #d4055a;
}
.container {
  position: relative;
  display: flex;
  padding: 0 8%;
  padding-left: calc(8% + 100px);
  padding-top: 80px;
  padding-bottom: 74px;
  min-height: calc(100vh - 76px);
  margin-bottom: -74px;
}
.container .wrap {
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.container .wrap.open {
  transform: translateY(200px);
}
.containerText {
  color: #676370;
}
.logo,
.accountPicture {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 2px;
}
.accountPicture {
  border: 2px solid #312936 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  box-shadow: 0px 0px 5px #c4005d;
}
.appContainer {
  flex: 1 1;
  flex-direction: column;
  padding-top: 93px;
  display: flex;
  padding-top: 72px;
}
.hidden {
  display: none;
}

.streetchain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8%;
}
.streetchain .header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  width: 100px;
  left: calc(-50px + 2px);
  padding: 5px;
  font-family: 'GillSans-CondensedBold';
  text-transform: uppercase;
  background-color: #EEE;
  border-radius: 5px;
  z-index: 1;
  font-size: 13px;
}
.streetchain .mint-button {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-left: calc(-20px + 2px);
  background-color: #EEE;
  border: 2px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  z-index: 1;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  user-select: none;
}
.streetchain > .notch {
  position: fixed;
  background-color: #FFF;
  width: calc(100vw - 8vw);
  height: 26px;
  margin-left: -5px;
  margin-top: -8px;
  z-index: 1;
}
.streetchain .mint-button:hover {
  background-color: #9ccc65;
  border-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.streetchain .mint-button img {
  width: 13px;
  height: 13px;
}
.streetchain .mint-button:hover img {
  filter: invert(100%);
}
.streetchain .bar {
  position: absolute;
  top: 10px;
  bottom: 0;
  background-color: #333;
  width: 2px;
}

.mint-menu-wrap {
  position: fixed;
  width: 100%;
  height: 2px;
  top: 90px;
  left: calc(8% + 22px);
  z-index: 1;
}

.mint-menu-wrap:not(.open) .mint-menu .slider,
.mint-placeholder:not(.open)
{
  transform: translateY(-200px);
}
.mint-menu-wrap.open .mint-menu .contents
{
  margin-top: 0;
}
.mint-menu {
  border: 0 solid #e0e0e0;
  border-top-width: 2px;
}
.mint-menu .slider {
  display: flex;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.mint-menu .notch {
  position: absolute;
  border-right: 10x solid #e0e0e0;
  border-bottom: 10x solid transparent;
}
.mint-menu .contents {
  height: 200px;
  background-color: #FFF;
  border-left-width: 0;
  border-bottom: 2px solid #e0e0e0;
  flex: 1;
}
.mint-menu .left-notch {
  position: relative;
  border-right: 200px solid #e0e0e0;
  border-bottom: 200px solid transparent;
}
.mint-menu .left-notch::before {
  position: absolute;
  margin-left: 2px;
  border-right: 198px solid #FFF;
  border-bottom: 198px solid transparent;
  content: '';
}
.street-filters {
  position: absolute;
  top: 0;
  right: 8%;
  width: 300px;
  height: 50px;
  border: 2px solid #e0e0e0;
}

.mainRow {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* background-color: #f4f4f4; */
  padding-top: 70px;
  perspective: 1200px;
}
.mainRow .bar {
  position: absolute;
  margin-left: -30px;
  width: 200px;
  height: 5px;
  background-color: #EEE;
}

.mainRow .notch {
  display: flex;
  position: absolute;
  width: 100px;
  margin-top: -37px;
  left: calc(-100px + 2px);
}
.mainRow .notch .text {
  position: relative;
  margin-top: -15px;
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'FuturaStd-Heavy';
  letter-spacing: 2px;
  color: #AAA;
}
.mainRow .notch .nub {
  position: absolute;
  width: 13px;
  height: 13px;
  margin-left: calc(-13px / 2 - 2px / 2);
  background-color: #29b6f6;
  border: 3px solid #FFF;
  border-radius: 100px;
}
.mainRow .notch .underline {
  position: absolute;
  width: calc(100vw - 16vw - 21px);
  height: 2px;
  top: 5px;
  left: 5px;
  background-color: #e0e0e0;
}

/* <div className="notch">
  <div className="nub"></div>
  <div className="bar"></div>
</div> */