input {
  height: 30px;
  margin: 25px 0px;
}
.nft-preview {
  display: block;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
  filter: drop-shadow(0px 0px 15px #c4005d);
}
.file-drop-container {
  border: 1px solid #c4005d;
  width: 95%;
  height: 95%;
  text-align: center;
  margin: 0 auto;
}
.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100%;
  width: 100%;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;

  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;

  align-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;

  text-align: center;
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: none;
  z-index: 50;
  opacity: 1;

  /* typography */
  color: white;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #c4005d;
  box-shadow: 0 0 13px 3px #c4005d;
}
.mintContainer {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.mintFormContainer,
.mintCardContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
}
@media screen and (min-width: 844px) {
  .mintCardContainer {
    align-items: flex-end;
    margin-right: 50px;
  }
  .mintFormContainer {
    align-items: flex-start;
    margin-left: 50px;
  }

}
.mintFormSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.mintingOptionsContainer h1 {
  margin: 0;
}
.mintingOptionsContainer p {
  margin-bottom: 35px;
}
@media screen and (max-width: 844px) {
  .mintingOptionsContainer {
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 844px) {
  .mintingOptionsContainer {
    position: absolute;
    max-width: 339px;
    background: rgb(24 20 26 / 1);
    text-shadow: 0 0 black;
    border-radius: 10px;
    top: 100px;
    right: 20px;
    padding: 25px;
    padding-bottom: 35px;
  }
}
.mintButton {
  box-shadow: 0px 0px 30px #c4005d;
  font-size: 1.05em;
  margin: 0;
}
