/* input {
  height: 30px;
  margin: 25px 0px;
} */
.nft-preview {
  display: block;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
  filter: drop-shadow(0px 0px 15px #c4005d);
}
.file-drop-container {
}
.file-drop-container .file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100%;
  width: 100%;
}

.file-drop-container .file-drop > .file-drop-target {
  font-size: 1.5em;
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;

  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  align-content: center;

  text-align: center;
}

.file-drop-container .file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  box-shadow: none;
  opacity: 1;

  /* typography */
  color: white;
}

.file-drop-container .file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  box-shadow: 0 0 13px 5px #c4005d;
  filter: drop-shadow(0px 0px 15px #c4005d);
}
.file-drop > .file-drop-target.file-drop-dragging-over-target .button {
  display: none;
}
.mintContainer {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.mintFormContainer,
.mintCardContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
}
@media screen and (min-width: 844px) {
  .mintCardContainer {
    align-items: flex-end;
    margin-right: 50px;
  }
  .mintFormContainer {
    align-items: flex-start;
    margin-left: 50px;
  }

}
.mintFormSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.mintingOptionsContainer h1 {
  margin: 0;
}
.mintingOptionsContainer p {
  margin-bottom: 35px;
}
@media screen and (max-width: 844px) {
  .mintingOptionsContainer {
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 844px) {
  .mintingOptionsContainer {
    position: absolute;
    max-width: 339px;
    text-shadow: 0 0 black;
    border-radius: 10px;
    top: 100px;
    right: 20px;
    padding: 25px;
    padding-bottom: 35px;
  }
}
.mintButton {
  box-shadow: 0px 0px 30px #c4005d;
  font-size: 1.05em;
  margin: 0;
}
.mintFinalStepText {
  max-width: 662px;
  text-align: center;
  margin: 25px auto;
  margin-bottom: 75px;
}
