.navbar {
  margin-bottom: 0;
  border-bottom: none;
  position: fixed;
  top: 0;
  height: 64px;
  padding: 15px 0 0px 0;
  border-bottom: 1px solid rgba(103,99,112,.2);
  width: 100%;
  box-sizing: content-box;
  z-index: 20;
  border-color: transparent;
  transition: background-color .5s ease,border-color .5s ease;
  background: #18141a;
}
.navbar .navbarContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  background-color: transparent;
  transition: background-color .25s ease;
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}
.navbar .navbarContainer .navbarMenu {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.navbar .navbarContainer .navbarMenu .secondaryMenu {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #676370;
  text-shadow: 0 0 0.1em rgba(0,0,0,.5);
}
.navbar .navbarContainer .navbarMenu .rightMenuContainer {
  margin-top: 10px;
  margin-left: auto;
}
.navbar .item {
  text-shadow: 0 0 0.2em rgba(0,0,0,.5);
  font-weight: 400;
  color: #676370;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 0;
  font-size: 13px;
  box-shadow: none;
  border: none;
  margin: 0 .85714286em;
  background: 0 0;
  transition: color .1s ease;
  vertical-align: middle;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar .navbarMenu .secondaryMenu {
  margin: 0;
}
.navbar .logo,
.accountPicture {
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-top: 2px;
}
.accountPicture {
  border: 2px solid #312936 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  box-shadow: 0px 0px 5px #c4005d;
}
.accountPictureContainer {
  margin-right: 2px;
}
.navbarIcon {
  display: none;
}
@media screen and (max-width: 844px) {
  .rightMenuContainer {
    display: none;
  }
  .navbarIcon {
    float: right;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .accountPictureContainer {
    margin-left: auto;
    margin-right: unset;
  }
}

@media screen and (max-width: 844px) {
  .rightMenuContainer.responsive {position: relative;}
  .rightMenuContainer.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .rightMenuContainer.responsive {
    position: fixed;
    top: 70px;
    left: 0;
    float: none;
    text-align: left;
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #18141a;
    width: 100%;
  }
  .rightMenuContainer.responsive a {
    font-size: 1em;
    padding: 20px 0;
  }
  .accountPicture.responsive {
    display: flex;
  }
}
