.navbar {
  margin-bottom: 0;
  border-bottom: none;
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  box-sizing: content-box;
  z-index: 20;
  border-color: transparent;
  transition: background-color .5s ease,border-color .5s ease;
  background: #18141a;
  padding: 0 8%;
  box-sizing: border-box
}
.navbar .navbarContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  background-color: transparent;
  transition: background-color .25s ease;
  display: block;
}
.navbar .navbarContainer .navbarMenu {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  height: 100%;
  flex: 1 1;
}
.navbar .leftMenuContainer {
  margin: auto 0;
}
.navbar .navbarContainer .navbarMenu .secondaryMenu {
  margin: auto 0;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #676370;
  text-shadow: 0 0 0.1em rgba(0,0,0,.5);
}
.navbar .navbarContainer .navbarMenu .rightMenuContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navbar .item {
  text-shadow: 0 0 0.2em rgba(0,0,0,.5);
  font-weight: 400;
  color: #676370;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 0;
  font-size: 13px;
  box-shadow: none;
  border: none;
  margin: 0 .85714286em;
  background: 0 0;
  transition: color .3s ease;
  vertical-align: middle;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  margin: auto 0;
}
.navbar .navbarMenu .secondaryMenu {
  margin: 0;
}
.navbar .logo,
.accountPicture {
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-top: 2px;
}
.accountPicture {
  border: 2px solid #312936 !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.accountPicture.loggedIn {
  box-shadow: 0px 0px 5px #c4005d;
}
.accountPictureContainer {
  margin: auto 0;
  margin-right: 2px;
}
.navbarIcon {
  display: none;
}
.navbarFluxContainer {
  display: flex !important;
  flex-direction: row;
  width: 150px;
  height: 25px;
  margin: auto 0;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #312936 !important;
  height: 24px;
}
.navbarFluxSymbol {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0.8em;
  margin-top: 3px;
  color: rgb(196 0 93 / 1);
}
.navbarFluxAmount {
  color: #676370;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navbarFluxPlusContainer {
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  background: rgb(196 0 93 / .8);
  border-radius: 0px 8px 8px 0px;
}
.navbarFluxPlusContainer:hover {
  background-color: #d4055a;
}

.rightMenuContainer {
  transition: all .3s ease;
}
.rightMenuContainer .navbarTopLevelMenuOption .navbarSubMenuContainer {
  position: fixed;
  background: #18141a;
  left: 0;
  top: 63px;
  display: none;
  transition: all .3s ease;
  padding-top: 25px;
  border-top: 1px solid #c4005d;
  padding: 0 8%;
  box-shadow: 0px 0px 5px #312936;
  box-sizing: border-box;
  margin: 0 8%;
  width: 84%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbarTopLevelMenuOption {
  height: 100%;
  display: flex;
  transition: all .3s ease;
}

.navbarTopLevelMenuOption:hover .navbarSubMenuContainer {
  display: block;
}
.navbarLinkItem.item {
  transition: all .3s ease;
}
.item:hover {
  color: #c4005d;
}
.navbarSubMenuLinkItem:hover {
  transition: all .3s ease;
  background: #312936;
}
.navbarLinkItem {
  display: flex;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  transition: all .3s ease;
}

@media screen and (min-width: 918px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 918px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .navbarSubMenuContainer.responsive {
    display: block !important;
    position: relative !important;
    top: 0 !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbarSubMenuContainer.responsive .navbarSubMenuLeftbar {
    display: flex;
    flex-direction: column;
  }
  .navbarTopLevelMenuOption {
    flex-wrap: wrap;
    margin: auto;
  }
  .navbarLinkItem.responsive {
    display: none !important;
  }
}
@media screen and (max-width: 918px) {
  .rightMenuContainer,
  .navbarFluxContainer {
    display: none !important;
  }
  .navbarIcon {
    float: right;
    display: block;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .accountPictureContainer {
    margin-left: auto;
    margin-right: unset;
  }
}

@media screen and (max-width: 918px) {
  .rightMenuContainer.responsive {position: relative;}
  .rightMenuContainer.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .rightMenuContainer.responsive {
    display: unset !important;
    position: fixed;
    top: 70px;
    left: 0;
    float: none;
    text-align: left;
    flex-direction: column;
    display: flex !important;
    width: 100%;
    text-align: center;
    background-color: #18141a;
    width: 100%;
  }
  .rightMenuContainer.responsive a {
    font-size: 1em;
    padding: 20px 0;
    text-align: left;
    width: 100px;
  }
  .accountPicture.responsive {
    display: flex;
  }
}
