.contentBackground {
  width: 250px;
  height: 250px;
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  opacity: 60%;
  filter: blur(1px);
}
.content {
  margin: .875em 1em;
  padding: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16);
  border: 1px solid rgba(0,0,0,.02);
  border-radius: 8px;
  transition: transform .2s ease-in-out,box-shadow .2s ease-in-out;
  font-size: .75em;
  text-align: center;
  width: unset !important;
  max-width: unset !important;
  cursor: pointer;
}
.content:hover,
.content:hover .contentBackground {
  box-shadow: 0px 0px 5px #c4005d;
}
.content-inner {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.content .contentText {
  /* filter: drop-shadow(0px 0px 5px black); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto;
}
.content img {
  margin: auto;
  max-width: 100%;
  border-style: none;
}


.tripleDot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle, white 2px, transparent 3px);
  background-size: 100% 33.33%;
  top: 5px;
  right: 0;
  /* filter: drop-shadow(0px 0px 5px black); */
}
.popoutMenu {
  z-index: 1;
  display: block;
  position: absolute;
  width: 250px;
  height: auto;
  background: white;
  top: 35px;
  right: 15px;
  color: black;
  /* filter: drop-shadow(0px 0px 5px black); */
  padding: 5px;
}
.popoutMenu .popoutMenuOptions {
  padding: 10px 0;
  font-size: 1.5em;
  border: .1px lightgray;
  border-style: solid none;
}


.profileHeaderContainer {
  padding: 25px 25px 0px 25px;
  padding-top: 100px;
}
.profileHeaderBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* -webkit-filter: blur(1px);
  filter: blur(1px); */
  opacity: .5;
  z-index: -9999;
}
.profileHeader {
  display: flex;
  width: auto;
}
.itemImage {
  /* filter: drop-shadow(0px 0px 5px black); */
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.profileHeader .profileLoadout {
  padding: 25px;
}
.profileHeader .profileLoadoutPicture {
  width: 50px;
  background: white;
  border: black;
  height: 50px;
  margin: 5px;
  /* filter: drop-shadow(0px 0px 5px black); */
}
.profileHeader .profilePicture {
  border-radius: 10px;
  width: 16em;
  height: 16em;
  /* filter: drop-shadow(0px 0px 5px black); */
}
.profileHeader .profileName {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
}
