.profileBodyAssets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 11%;
    justify-content: center;
}
.profileBodyNav {
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.profileBodyNavContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 0px 25px 0px;
    flex-wrap: wrap;
}
.profileNavLink {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #C4C4C4;
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0;
    opacity: 40%;
}
.profileNavLink.active {
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: #c4005d;
    font-size: 2em;
    opacity: 100%;
}
.disable {
    pointer-events: none;
    cursor: default;
}
.settingsButtonsContainer {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profilePictureContainer {
   flex-direction: column;
   display: flex;
   justify-content: flex-end;
   flex: 1 1 auto;
   align-items: center;
}
.content-inner {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.content .contentText {
  /* filter: drop-shadow(0px 0px 5px black); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto;
}
.content img {
  margin: auto;
  max-width: 100%;
  border-style: none;
}


.tripleDot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle, white 2px, transparent 3px);
  background-size: 100% 33.33%;
  top: 5px;
  right: 0;
  /* filter: drop-shadow(0px 0px 5px black); */
}
.popoutMenu {
  z-index: 1;
  display: block;
  position: absolute;
  width: 250px;
  height: auto;
  background: white;
  top: 35px;
  right: 15px;
  color: black;
  /* filter: drop-shadow(0px 0px 5px black); */
  padding: 5px;
}
.popoutMenu .popoutMenuOptions {
  padding: 10px 0;
  font-size: 1.5em;
  border: .1px lightgray;
  border-style: solid none;
}


.profileContainer {
  padding: 0 8vw;
  padding-top: 100px;
  background-image: linear-gradient(0deg, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0) 100%)
}
/* .profileHeaderBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .25;
  z-index: -9999;
} */
.profileHeader {
  display: flex;
  flex-wrap: wrap;
}
.itemImage {
  /* filter: drop-shadow(0px 0px 5px black); */
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.profileHeader .profileLoadout {
  display: flex;
  flex-direction: column;
}
.profileHeader .profileLoadout .profileLoadoutHeader {
  display: flex;
  font-family: 'FuturaStd-Heavy';
  text-transform: uppercase;
  color: #AAA;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
}
.profileHeader .profileLoadoutItem {
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 2px solid #999;
  margin: 5px 0;
}
.profileHeader .profileLoadoutItem .profileLoadoutPicture {
  width: 100%;
  height: 100%;
}
.profileHeader .silk {
  display: flex;
}
.profileHeader .silk .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.profileHeader .silk .value {
  font-family: 'MS-Gothic';
}
.profileHeader .profilePicture {
  -moz-border-radius: 0px;
  -webkit-border-radius: 20% 20% 0px 0px;
  border-radius: 20% 20% 0px 0px;
  width: 17em;
  height: 17em;
  /* filter: drop-shadow(0px 0px 3px black); */
  position: absolute;
  border: none;
  padding-bottom: 1px;
}
.profileHeader .profileVideo {
  /* position: absolute; */
  width: 512px;
  height: 512px;
  mix-blend-mode: multiply;
}
.profileHeader .profileLeft {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
@media screen and (max-width: 600px) {
  .profileHeader .profileLeft {
    padding-bottom: 175px;
    width: 100%;
  }
}
.profileHeader .profileWrap {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profileHeader .profileText {
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  /* text-shadow: 2px 2px 2px black; */
  font-weight: 400;
}
.profileHeader .profileText.mainName {
  font-size: 3em;
  margin: unset;
}
.profileHeader .profileText.label {
  font-family: 'FuturaStd-Heavy';
  font-size: 13px;
  color: #AAA;
  text-transform: uppercase;
}
.profileHeader .profileText.address {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 100px;
  font-family: monospace;
  font-size: 13px;
}
.profileHeader .profileText.address.main {
  background-image: linear-gradient(to bottom, #948E99, #2E1437);
  color: #FFF;
}