.progress-bar {
  width: 600px;
  padding: 2px;
  border: 2px solid #CCC;
  border-radius: 100px;
  transform-origin: 0 50%;
}
.progress-bar .progress-bar-inner {
  height: 5px;
  background-color: #29b6f6;
  border-radius: 100px;
  transform-origin: 0 50%;
}